.slider {
    width: 25%;
    text-align: center;
    /* overflow: hidden; */
}

.slides {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 90%;
    margin-top: 40px;
}

.slides-not-found-data {
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides-not-found-data h2 {
    font-size: 19px;
    color: #FF4500;
    text-align: center;
}


.slides-content {
    width: 77%;
    height: 82.7%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}

.slides-content-c1 {
    width: 100%;
    height: 68%;
    background-color: #f3f3f3;
    border-radius: 4px;
    object-fit: cover;
}

/* .slides-content-c2 div {
    width: 90%;
    margin-top: 30px;
    font-size: 20px;
} */

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 270px;
    height: 355px;
    margin-right: 5.8%;
    border-radius: 26px;
    background: #ffffff;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* font-size: 100px; */
}

.slides-content-c2 {
    width: 100%;
    margin-top: 6px;
    font-weight: 600;
    font-size: 18.5px;
}


.slides-content-c3 {
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
}

.slides-content-c4 {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slides-content-c4 div {
    font-weight: 400;
    font-size: 16px;
    padding-top: 3px;
    margin-left: 5px;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
} */
.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div:target {
/*   transform: scale(0.8); */
}

.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    /* padding: 0.75rem; */
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}
.author-info a {
    color: white;
}

.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.slider > a:active {
    top: 1px;
}
.slider > a:focus {
    background: #000;
}

@media only screen and (max-width: 600px) {
    .slides {
        width: 90%;
    }

    .slides > div {
        width: 240px;
        height: 325px;
        border-radius: 20px;
    }

    .slides-content-c2 {
        font-size: 16.5px;
    }
    .slides-content-c3 {
        font-size: 14px;
    }
    
    .slides-content-c4 div {
        font-weight: 400;
        font-size: 12px;
        padding-top: 3px;
        margin-left: 5px;
    }


}

@media only screen and (max-width: 390px) {
    .slides > div {
        width: 230px;
        height: 315px;
    }

    .slides-content-c2 {
        font-size: 15.5px;
    }
    .slides-content-c3 {
        font-size: 13px;
    }
}

/* Don't need button navigation */
/* @supports (scroll-snap-type) {
    .slider > a {
    display: none;
    }
} */