.about-us-13 > .c8 {
    width: 90%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}

/* T1 */
.about-us-13 > .c8 > .t1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    margin: 25px 0 0 0;
}

/* T2 */
.about-us-13 > .c8 > .t2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 0 0;
    width: 80%;
}

/* LINE */
.about-us-13 > .c8 > .line {
    height: 2px;
    width: 100%;
    background-color: #000000;
    margin: 15px 0 0 0;
}

/* T3 */
.about-us-13 > .c8 > .t3 {
    display: flex;
    margin: 20px 0 0 0;
    align-items: center;
}

.about-us-13 > .c8 > .t3 > img {
    width: 30px;
    height: 30px;
}

.about-us-13 > .c8 > .t3 > div {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 19px;
}

/* T4 */
.about-us-13 > .c8 > .t4 {
    width: auto;
    display: flex;
    width: 85%;
    margin: 20px 0 0 0;
    /* padding-left: 1.5%; */
    /* justify-content: space-between; */
}

.about-us-13 > .c8 > .t4 > img {
    width: 35px;
    height: 35px;
    margin-right: 25px;
}

.about-us-13 > .c8 > .t4 > div {
    width: 30px;
    height: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-right: 25px;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .about-us-13 > .c8 > .t1 {
        font-size: 25px;
        width: 100%;
        margin: 25px 0 0 0;
    }
    
    .about-us-13 > .c8 > .t2 {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 15px;
    }

    .about-us-13 > .c8 > .t3 > img {
        width: 25px;
        height: 25px;
    }
    .about-us-13 > .c8 > .t3 > div {
        font-size: 15px;
    }

    .about-us-13 > .c8 > .t4 > img {
        width: 25px;
        height: 25px;
        margin-right: 20px;
    }
    
    .about-us-13 > .c8 > .t4 > div {
        /* width: 30px; */
        /* height: 30px; */
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 20px;
        margin-right: 20px;
    }

}
