.plc-topic-root {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 22px 0 0 0;
}

/* CONTENT 1 */

.plc-topic-content1 {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plc-topic-content1 > h4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #033E66;
    font-size: 18px;
    line-height: 21px;
    margin-left: 15px;
}

.plc-topic-content1 > div {
    background-color: #F5F6F8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    width: 175px;
    height: 20px;
}

.plc-topic-content1 > div > h6 {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.plc-topic-icon {
    font-size: 39px !important;
    line-height: 39px !important;
    color: #FF4500 !important;
    cursor: pointer !important;
}

/* CONTENT 2 */
.plc-topic-content2 {
    width: 90%;
    display: flex;
    height: 16.9px;
    margin: 18px 0 0 0;
}

.plc-topic-content2 > div {
    cursor: pointer;
    background-color: #DDDDDD;
    border-radius: 2.5px;
    height: 100%;
    width: 56px;
    margin-right:6.8px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
}

.plc-topic-content2 > div > span {
    font-size: 9.8px;
    font-weight: 300;
    color: #000000;
    margin-left: 3px;
}

.plc-topic-close {
    font-size: 10px !important;
    line-height: 10px !important;
    color: #787878 !important;
    cursor: pointer !important;
    margin-right: 2px;
    margin-top: 1.8px !important;
}