.content-section {
    padding-left: 35px;
    padding-right: 35px;
}
.content-button-group {
    display: flex;
    justify-content: center;
}
.content-btn {
    cursor: pointer;
    background-color: #FFFFFF;
    padding: 8px 20px;
    margin: 0px 10px;
    border-radius: 50px;
    border-color: #000000;
    font-size: larger;
    font-weight: 600;
    text-align: center;
}
.active-btn {
    color: #FFFFFF;
    background-color: #000000;
}
.content-video-group {
    display: flex;
    overflow-y: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.content-video-group > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.35s;
    position: relative;
}
.content-video-group::-webkit-scrollbar-track {
    background: transparent;
}
.content-video-group::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.content-video {
    margin-right: 20px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
