/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.divider {
    width: 100%;
    height: 10px;
    background-color: #E5E5E5;
    margin: 20px 0px;
}

/* STORY */
.story-section {
    margin: 0px 35px;
    display: flex;
    overflow-y: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.story-section > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.35s;
    position: relative;
}
.story-section::-webkit-scrollbar-track {
    background: transparent;
}
.story-section::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.story-card {
    cursor: pointer;
    margin-top: 10px;
}
.story-img {
    height: 175px;
    width: 120px;
    border-radius: 5px;
    margin-right: 15px;
}
/* STORY */

/* PAID */
.paid-greeting {
    margin-top: 5px;
    padding-left: 35px;
    font-family: 'Rubik', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
}
.paid-description {
    margin-top: 5px;
    padding-left: 35px;
    font-family: 'Rubik', 'sans-serif';
    font-size: large;
    font-weight: lighter;
}
.paid-content {
    margin-left: 35px;
    margin-right: 35px;
}
/* PAID */

/* UNFINISHED */
.unfinish-section {
    margin-bottom: 20px;
    padding: 0px 35px;
}
.unfinish-title {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    font-family: 'Rubik', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
}
.unfinish-card {
    display: flex;
    justify-content: center;
}
.unfinish-image {
    margin: 10px 0px;
    width: 40%;
}
.unfinish-status {
    display: flex;
    flex-direction: column;
    margin: auto 0px;
}
.status-desc {
    margin: 6px 15px;
    font-family: 'Rubik', 'sans-serif';
    font-size: larger;
}
.status-button {
    margin: 6px 15px;
    font-family: 'Rubik', 'sans-serif';
    font-size: larger;
    background-color: #FF4500;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.unfinish-rank {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.unfinish-badge {
    height: 40px;
    margin-right: 15px;
}
.unfinish-rank-txt {
    margin-right: 15px;
    font-family: 'Rubik', 'sans-serif';
    font-size: 20px;
}
.unfinish-rank-num {
    margin-right: 15px;
    font-family: 'Rubik', 'sans-serif';
    font-size: 20px;
}
.schedule-box-section {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.schedule-card {
    display: flex;
    margin: 10px;
    padding: 7.5px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2.5px #E6E6E6;
    width: 40%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.schedule-description {
    font-family: 'Rubik', 'sans-serif';
}
.schedule-title {
    font-size: large;
    font-weight: bold;
}
.schedule-notification {
    font-size: medium;
}
/* UNFINISHED */

/* RATING */
.rating-container {
    border: 1px solid #808080;
    display: flex;
    border-radius: 10px;
    padding: 25px;
}
.rating-advice {
    margin: 10px;
    width: 135px;
    border: none;
    background-color: #FF4500;
    color: white;
    font-family: 'Rubik', 'sans-serif';
    border-radius: 5px;
    font-size: larger;
}
/* RATING */
