.cart-06-c1 {
    min-height: 115px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13.5px 0 13.5px 0;
}

.cart-06-c1-fc {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    max-height: 100px;
    margin: 0;
    padding: 0;
}

.cart-06-c1-sc {
    /* min-width: 40%; */
    /* max-width: 46%; */
    width: 46%;
    font-size: 15px;
    line-height: 17px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
}

@media only screen and (max-width: 355px) {
    .cart-06-c1-sc {
        font-size: 13px;
        line-height: 14px;
    }

}