.change-pass-container {
    width: 100%;
    min-height: 94.7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.change-pass-container img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    margin-top: 11px;
}

.change-pass-bold {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    width: 290px;
}

.change-pass-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    width: 290px;
    margin-top: 10px;
}