/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.divider {
    width: 100%;
    height: 10px;
    background-color: #E5E5E5;
    margin: 20px 0px;
}

/* PICTURE */
.lmsprofile-pictures-slider {
    margin: 0px 35px;
    display: flex;
    align-items: center;
    overflow-y: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
/* .lmsprofile-pictures-slider > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.35s;
    position: relative;
} */
.lmsprofile-pictures-slider::-webkit-scrollbar-track {
    background: transparent;
}
.lmsprofile-pictures-slider::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.lmsprofile-picture-image {
    width: 250px;
    border-radius: 5px;
    margin-right: 15px;
}
.lmsprofile-picture-image-active {
    width: 300px;
    border-radius: 5px;
    margin-right: 15px;
}
/* PICTURE */

/* DETAILS */
.lmsprofile-details-main-container {
    margin: 30px 35px 0px 35px;
}
.lmsprofile-details-reach {
    font-family: 'Rubik', sans-serif;
    font-size: larger;
}
.lmsprofile-details-benefits {
    font-family: 'Rubik', sans-serif;
    font-size: larger;
    margin-top: 20px;
}
.lmsprofile-details-benefits-render {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.lmsprofile-details-protect {
    font-family: 'Rubik', sans-serif;
    font-size: larger;
    margin-top: 40px;
}
.lmsprofile-details-protect-render {
    margin-top: 20px;
}
/* DETAILS */
