.cl-podcast-11 {
    width: 90%;
    margin-top: 5px 0 0 0;
    height: 96px;
    display: flex;
}

.cl-podcast-11 > .c1 {
    width: 15%;
    height: 100%;
    background-color: pink;
}

.cl-podcast-11 > .c2 {
    width: 85%;
    height: 100%;
    background-color:#202020;
}