.anchor {
    text-decoration: none !important;
}

/* SECTION */
.section-section {
    /* background-color: pink; */
    padding: 0px 35px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.section-section::-webkit-scrollbar-track {
    background: transparent;
}
.section-section::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.section-title {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    color: #033E66;
    text-transform: uppercase;
    /* margin-right: 10px; */
}
.section-title-active {
    font-family: 'Rubik', sans-serif;
    /* font-size: medium; */
    font-size: 17px;
    color: #033E66;
    text-transform: uppercase;
    border-bottom: 2px solid #006db6;
    background-color: #FFFFFF;
}
/* SECTION */

@media only screen and (max-width: 1250px) {
    .section-title {
        font-size: 15px;
    }
    .section-title-active {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .section-title {
        font-size: 14.7px;
    }
    .section-title-active {
        font-size: 14.7px;
    }
}

@media only screen and (max-width: 1170px) {
    .section-title {
        font-size: 14.5px;
    }
    .section-title-active {
        font-size: 14.5px;
    }
}

@media only screen and (max-width: 1120px) {
    .section-title {
        font-size: 14px;
    }
    .section-title-active {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1090px) {
    .section-title {
        font-size: 12px;
    }
    .section-title-active {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px) {
    .section-title {
        font-size: 17px;
    }
    .section-title-active {
        font-size: 17px;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    .section-section {
        padding: 0px 35px;
        display: flex;
        /* margin: 0px 10px; */
        overflow-y: auto;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    .section-title {
        font-family: 'Rubik', sans-serif;
        font-size: medium;
        color: #033E66;
        text-transform: uppercase;
        margin-right: 20px;
    }
    .section-title-active {
        font-family: 'Rubik', sans-serif;
        font-size: medium;
        color: #033E66;
        text-transform: uppercase;
        margin-right: 20px;
        border-bottom: 2px solid #006db6;
        background-color: #FFFFFF;
    }
}
