/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.divider {
    width: 100%;
    height: 10px;
    background-color: #E5E5E5;
    margin: 20px 0px;
}

u {
    font-family: 'Rubik', sans-serif;
    font-size: medium;
}

/* PROFILE */
.resellerme-profile-section {
    padding: 20px 35px 0px 35px;
    display: flex;
    justify-content: center;
}
.resellerme-profile-photo {
    height: 120px;
    border-radius: 10px;
}
.resellerme-profile-container {
    display: flex;
    align-items: center;
}
.resellerme-profile-detail {
    margin-left: 25px;
}
.resellerme-profile-txt {
    font-family: 'Rubik', sans-serif;
    font-size: medium;
    margin: 10px 0px;
}
/* PROFILE */

/* COMISSION */
.resellerme-comission-section {
    padding: 10px 35px;
}
.resellerme-comission-title {
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.resellerme-comission-update-btn {
    margin-top: 10px;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: medium;
    color: #FF4500;
    background-color: #FFFFFF;
    border: 3px solid #FF4500;
    border-radius: 5px;
    padding: 7px 0px;
}
/* COMISSION */

/* STATISTICS */
.resellerme-statistics-section {
    padding: 10px 35px;
}
.resellerme-statistics-title {
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.resellerme-statistics-filter-div {
    display: flex;
    justify-content: center;
}
.resellerme-statistics-filter {
    margin-top: 15px;
    width: 50%;
}
.resellerme-statistics-accordion-div {
    margin-top: 25px;
}
/* STATISTICS */

/* SELLABLE */
.resellerme-sellable-section {
    padding: 10px 35px;
}
.resellerme-sellable-title {
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.resellerme-sellable-container {
    margin-bottom: 30px;
}
.resellerme-sellable-top-part {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.resellerme-sellable-image {
    width: 35%;
    border: 2px solid #DCDCDC;
    border-radius: 10px;
}
.resellerme-sellable-details {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.resellerme-sellable-details-txt {
    margin: 5px 0px;
    font-family: 'Rubik', sans-serif;
}
.resellerme-sellable-details-url {
    margin-top: 7.5px;
    font-family: 'Rubik', sans-serif;
}
.resellerme-sellable-details-link {
    cursor: pointer;
    margin-top: 2px;
    font-family: 'Rubik', sans-serif;
    color: #1565FF;
    text-decoration: underline;
}
/* SELLABLE */
