.burger-menu-01 {
    /* display: none;  */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: auto;
    top: 0;
    width: 36%; 
    height: 100%; 
  }
  
.burger-menu-01-content {
    animation-name: modal;
    animation-duration: 0.8s;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1; /* Sit on top */
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes modal {
    from {
        width: 0;
        /* height: 0; */
        /* left: 0; */
    }
    to {
        width: 100%;
        /* height: 100%; */
        /* left: auto; */
    }
}

.burger-menu-02 {
    /* display: none;  */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: auto;
    top: 0;
    width: 36%; 
    height: 100%; 

}

.burger-menu-02-content {
    animation-name: modal-2;
    animation-duration: 0.8s;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1; /* Sit on top */
}

@keyframes modal-2 {
    from {
        width: 100%;
        /* height: 100%; */
        /* left: 0; */
    }
    to {
        width: 0;
        /* height: 0; */
        /* left: auto; */
    }
}

/* CONTENT MODAL FIX */

.bmc-content-1 {
    width: 100%;
    height: 62px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
}

.bmc-content-1-c1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bmc-content-1-c1 > img {
    width: 90px;
    object-fit: contain;
}

.bmc-content-2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20.78px;
    color: #033E66;
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

.bmc-content-3 {
    background-color: #E9E9E9;
    width: 90%;
    height: 7px;
}

.bmc-content-4 {
    width: 80%;
    font-weight: 300;
    font-size: 18px;
    color: #606060;
    margin-top: 10px;
    /* height: 40px; */
    cursor: pointer;
    height: 40px;
}

.bmc-content-4-selected {
    height: 40px;
    background-color: #E8F1FF;
    border-radius: 2px;
    width: 85%;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    color: #4C91FA;
    /* height: 40px; */
    display: flex;
    align-items: center;
    padding-left: 3%;
    border-radius: 12px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .burger-menu-01 {
        width: 85%;
    }
    .burger-menu-02 {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .burger-menu-01 {
        width: 100%;
    }
    .burger-menu-02 {
        width: 100%;
    }

}

/* CONTENT MODAL  */

/* .bmc-content-1 {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bmc-content-2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.bmc-content-2 span {
    font-size: 12px;
    color: #033E66;
    margin-bottom: 10px;
    cursor: pointer;
}

.bmc-content-2 img {
    width: 90px;
    object-fit: contain;
}

 */