.product-detail-carousel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    /* background-color: pink; */
}

.pdc-carousel-55 {
    width: 85%;
    height: 100%;
    /* background-color: #c4c4c4;    */
    border-radius: 2px;
    object-fit: cover;
}

@media only screen and (max-width: 1190px) {
    .pdc-carousel-55 {
        width: 80%;
        height: 100%;
        /* background-color: #c4c4c4;    */
        border-radius: 4px;
    }
}

@media only screen and (max-width: 600px) {
    .pdc-carousel-55 {
        width: 74%;
        height: 90%;
    }
    .product-detail-carousel {
        height: 187px;
    }
}

@media only screen and (max-width: 350px) {
    .pdc-carousel-55 {
        width: 72%;
        height: 88%;
        object-fit: cover;
    }
}