/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.divider {
    width: 100%;
    height: 10px;
    background-color: #E5E5E5;
    margin: 20px 0px;
}

u {
    font-family: 'Rubik', sans-serif;
    font-size: medium;
}

/* BENEFIT */
.benefit-section {
    padding: 0px 35px;
    margin-bottom: 30px;
}
.benefit-title {
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.benefit-video {
    width: 100%;
    margin-top: 20px;
}
.check-agree {
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: medium;
}
.benefit-join {
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    width: 100%;
    border: none;
    background-color: #FF4500;
    color: #FFFFFF;
    margin-top: 10px;
    border-radius: 5px;
}
/* BENEFIT */
